html{
  font-size: 14px;
}
body{
  /* background-color: pink; */
  margin:auto;
}

/*header */
header{
  height: 40px;
  /* background-color: brown; */
}

/*ul*/
nav ul{
  /* display: inline; */ 
  margin-top:20px; 
}
.left{
  float: left;  
}
/* .left::after{
  clear:left;
} */
.right{
  float: right;
}

/*ul*/
nav li{
  display: inline-block;
  padding-right: 20px;
}
nav li:last-child{
  padding-right: 30px;
}



/*archor */
nav a{
  text-decoration: none;
  color: rgb(0,0,0);
}
nav a:hover{
  text-decoration: underline;
  color: rgba(0,0,0,0.6);
}
#loginPhoto{
  background-color: rgba(0,0,0,0.1);
  border-radius: 200px;
  height: 20px;
 }

section{
  width: 960px;
  margin: auto;
}


/* main */
main{
  margin: 130px auto 100px; 
}


/*************search **********/
.search{
  display:flex;
  flex-flow: row wrap;
  align-items :center;
  background-color: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 80px;  
  border-color: rgba(0,0,0,0.4);;
}

.svg-inline--fa {
  font-size: 2em;
  height: 1em;
  padding: 0px 10px;
  color: rgba(0,0,0,0.4);
}
 /******************************googles *********/
.googles{
  display:flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items: center;
  box-sizing:border-box;
  font-size: 1rem;
  /* */
  padding: auto 200px;
}

.googles form input {
  height:40px;
  width:500px;
  text-rendering: none;
  color: #000;
  letter-spacing: normal;  
  display: inline-block;
  text-align: start;
  background-color: none;
  border-width: 2px;
  border-style: none;
  border-radius: 80px;  
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));  
  border-image: initial;
}
.googles form input:focus {
  outline: none;
}

.googleLucky li{
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  font-size: 1.1em;
  padding: 8px 15px;
}
.googleLucky li:first-child{
  margin-right: 10px;
}
.googleLucky li a{
  text-decoration: none;
}
.googleLucky li a:hover{
  text-decoration: underline;
}
.googleLucky li:hover{
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.5);
  border-width: 2px 2px;
  /* border-style: solid; */
  border-color:  rgba(0,0,0,1)  rgba(0,0,0,0.5);
  }

  /* languages */
.languages {
    margin-top: 20px;
  }
.languages ul{

}
.languages ul li{
  display: inline-block;
  padding-right: 10px;
  font-size: 1.2em;
}
  .languages li a{
    text-decoration: none;
  }
  .languages li a:hover{
    text-decoration: underline;
  }

  /*footer*/
  footer{
    background-color:rgba(0,0,0,0.1);
    margin-bottom: 0px;
  }
  .commons{
    border-width: 1px 1px 0px 1px;
    border-style:solid;
    border-color:  rgba(0,0,0,0.7);
  }
  .country{
    color: rgba(0,0,0,0.6);
    border-style: red; */
  }
  .country  p{
    margin-left: 45px;
  }
  .others{
    border-width: 1px 0px 1px 0px;
  }
  .others ul li{
    display: inline-block;
    box-sizing: border-box;
    padding: 1px 20px 0px 0px;
  }
  .othersItems li a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
  }
  .othersItems li a:hover{
    text-decoration: underline;
  }
  